.module-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.module-chart-white {
    width: 27px;
    height: 133px;
    background-color: rgba(251, 251, 251, 1);
    border-radius: 9px;
    position: relative;
}

.module-chart-blue {
    background-color: var(--primary-color);
    width: 100%;
    border-radius: 9px;
    position: absolute;
    bottom: 0;
}

.module-chart span {
    color: var(--primary-color);
    font-size: 11px;
    text-align: center;
}

@media (min-width: 1200px) {
    .module-chart-white {
        width: 54px;
        border-radius: 14px;
    }
}