.faq {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-bottom: 20%;
}

.faq-label {
    width: 80%;
    height: auto;
}

.faq-wolf {
    position: absolute;
    left: -35%;
    width: 90%;
    top: -5%;
    z-index: 1;
}

.faq-container {
    width: 60%;
    position: relative;
}

.faq-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.interrogative-msg-icon {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: -10%;
}

.exclamative-msg-icon {
    z-index: 1;
    position: absolute;
    top: 20%;
    right: 2%;
}

.faq-right-arrow,
.faq-left-arrow {
    position: absolute;
    top: 35%;
    z-index: 1;
}

.faq-right-arrow {
    right: -10%;
}

.faq-left-arrow {
    left: -10%;
    transform: scaleX(-1);
}

@media(min-width: 400px) {
    .faq-wolf {
        width: 75%;
        left: -20%;
    }

    .faq-container {
        width: 55%;
    }
    
    .interrogative-msg-icon {
        left: -5%;
    }

    .faq-right-arrow {
        right: -8%;
    }

    .faq-left-arrow {
        left: -8%;
    }
}

@media(min-width: 500px) {
    .faq {
        margin-bottom: 25%;
    }

    .faq-right-arrow {
        right: -5%;
    }

    .faq-left-arrow {
        left: -5%;
    }
}

@media(min-width: 567px) {
    .faq-wolf {
        width: 65%;
        left: -15%;
    }

    .faq-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .faq-label {
        width: 80%;
    }

    .exclamative-msg-icon {
        top: 30%;
    }

    .interrogative-msg-icon {
        left: 10px;
    }
    
    .faq-right-arrow {
        right: -15%;
    }

    .faq-left-arrow {
        left: -15%;
    }
}

@media(min-width: 768px) {
    .faq {
        margin-bottom: 20%;
    }

    .faq-wolf {
        width: 60%;
        max-width: 475px;
        left: -5%;
    }

    .interrogative-msg-icon {
        width: 60px;
        height: auto;
        left: 5%;
    }

    .exclamative-msg-icon {
        width: 70px;
        height: auto;
        top: 30%;
        right: 5%;
    }
}

@media(min-width: 875px) {
    .faq-wolf {
        left: 0%;
    }
}

@media(min-width: 992px) {
    .faq {
        margin-bottom: 15%;
    }

    .faq-wolf {
        width: 40%;
        max-width: unset;
        left: 0;
    }

    .faq-container {
        width: 70%;
        z-index: 1;
        padding-right: 20px;
    }

    .faq-label {
        width: 50%;
    }

    .faq-items-container {
        align-items: baseline;
    }

    .interrogative-msg-icon {
        left: -5%;
        bottom: -25%;
    }
}

@media(min-width: 1200px) {
    .interrogative-msg-icon {
        left: 0;
    }
}

@media(min-width: 1440px) {
    .interrogative-msg-icon {
        left: 5%;
    }
}