.our-courses {
    position: relative;
    display: flex;
    justify-content: end;
    margin-bottom: 45%;
}

.courses-wolf-img {
    position: absolute;
    width: 55%;
    left: -12%;
    top: -5%;
}

.courses-area {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    transform: translateY(4vh);
    position: relative;
}

.courses-label-img {
    width: 80%;
    height: auto;
}

.courses-cards {
    width: 65%;
    transform: translateX(5vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses-right-arrow,
.courses-left-arrow {
    position: absolute;
    height: auto;
    top: 30%;
}

.courses-right-arrow {
    right: -28%;
}

.courses-left-arrow {
    left: -28%;
    transform: scaleX(-1);
}

@media(min-width: 500px) {
    .courses-right-arrow {
        right: -20%;
    }

    .courses-left-arrow {
        left: -20%;
    }
}

@media(min-width: 567px) {
    .our-courses {
        margin-bottom: 40%;
    }

    .courses-wolf-img {
        width: 45%;
        left: -5%;
    }

    .courses-area {
        width: 60%;
        gap: 32px;
    }

    .courses-cards {
        transform: unset;
    }

    .courses-right-arrow {
        right: 10%;
        top: 55%;
    }

    .courses-left-arrow {
        left: 10%;
        top: 55%;
    }
}

@media(min-width: 768px) {
    .our-courses {
        margin-bottom: 30%;
    }

    .courses-wolf-img {
        width: 40%;
    }

    .courses-area {
        gap: 52px;
    }

    .courses-label-img {
        width: 70%;
    }
    
    .courses-right-arrow,
    .courses-left-arrow {
        width: 100px;
    }
}

@media(min-width: 992px) {
    .our-courses {
        margin-bottom: 70px;
    }

    .courses-wolf-img {
        width: 26%;
        left: -2%;
        top: -10%;
    }

    .courses-area {
        width: 70%;
        gap: 30px;
        transform: translateX(-5%);
    }

    .courses-label-img {
        width: 30%;
    }

    .courses-cards {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }
}