.showcase {
    padding: 32px 20px;
    display: flex;
    position: relative;
    margin-bottom: 15%;
}

.showcase button {
    font-family: 'Inter';
    color: #0093CE;
    letter-spacing: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all ease 0.2s;
}

.showcase button:hover {
    background-color: #f0eeee;
}

.showcase-login-button {
    position: absolute;
    top: 20px;
    right: 22px;
    font-size: 14px;
    z-index: 2;
    background-color: #FBFBFB;
}

.showcase-login-button,
.sign-up-button {
    padding: 5px 27px;
    border-radius: 10px;
    font-weight: 600;
}

.showcase-logo {
    transform: translateX(-10px);
    width: 150%;
}

.showcase-description {
    width: 50%;
    z-index: 2;
    max-width: 290px;
}

.showcase-description-text {
    display: flex;
    width: 100%;
    gap: 6px;
    position: relative;
    margin-top: 20%;
}

.showcase-blue-bar {
    min-width: 8px;
    background-color: #0093CE;
}

.showcase-description-text p {
    font-size: 12px;
    font-weight: 600;
    text-align: justify;
    line-height: 1.2;
}

.showcase-description-text span {
    color: #0093CE;
}

.showcase-images {
    position: relative;
    top: 0;
    right: 0;
}

.sc-wolf-img,
.sc-orange-img,
.sc-blue-img {
    position: absolute;
    height: auto;
}

.sc-wolf-img {
    top: 20%;
    right: -55vw;
    width: 70vw;
    z-index: 3;
}

.sc-blue-img {
    width: 270px;
    top: -30%;
    right: -95vw;
    transform: rotate(110deg);
    z-index: 1;
}

.sc-orange-img {
    width: 210px;
    right: -65vw;
    top: -5%;
    transform: rotate(360deg);
}

.sign-up-wrapper {
    position: absolute;
    bottom: -5%;
    right: 50%;
    transform: translateX(50%);
    width: 270px;
    border-radius: 10px;
    z-index: 4;
}

.sign-up-button {
    font-size: 16px;
    background-color: transparent;
    font-weight: 700;
}

@media(min-width: 400px) {
    .showcase-description-text {
        margin-top: 10%;
    }

    .showcase-description-text p {
        line-height: 1.4;
        font-size: 13px;
    }

    .sc-wolf-img {
        max-width: 300px;
    }

    .sc-orange-img {
        right: -60vw;
        width: 240px;
        top: -5%;
    }

    .sc-blue-img {
        top: -32%;
        right: -80vw;
    }

    .sign-up-wrapper {
        bottom: -8%;
    }
}

@media(min-width: 500px) {
    .showcase-description-text {
        margin-top: 5%;
    }

    .showcase-description-text p {
        line-height: 1.6;
    }

    .sc-orange-img {
        width: 260px;
    }

    .sc-blue-img {
        right: -70vw;
    }

    .sc-wolf-img {
        max-width: unset;
        width: 60vw;
        top: 25%;
        right: -50vw;
    }

    .sign-up-wrapper {
        bottom: -10%;
    }
}

@media(min-width: 567px) {
    .showcase {
        padding: 32px 28px;
        margin-bottom: 18%;
    }

    .showcase-logo {
        width: 125%;
    }

    .showcase-description-text p {
        font-size: 14px;
    }

    .sc-wolf-img {
        width: 310px;
    }

    .sc-blue-img {
        width: 290px;
        top: -40%;
        right: -68vw;
    }

    .sc-orange-img {
        width: 300px;
        right: -60vw;
        top: -15%;
    }

    .sign-up-wrapper {
        bottom: -18%;
    }
}

@media(min-width: 700px) {
    .sc-wolf-img {
        width: 350px;
        top: 20%;
    }

    .sc-orange-img {
        width: 310px;
    }
}

@media(min-width: 768px) {
    .showcase {
        padding: 32px 42px;
    }

    .showcase-logo {
        width: 340px;
    }

    .showcase-description-text {
        width: 120%;
    }

    .showcase-description-text p {
        font-size: 14px;
    }

    .sc-wolf-img {
        width: 360px;
        top: 10%;
        right: -48vw;
    }

    .sc-orange-img {
        right: -60vw;
        top: -20%;
    }

    .sc-blue-img {
        width: 320px;
        top: -55%;
        right: -67vw;
    }

    .sign-up-wrapper {
        bottom: -20%;
    }
}

@media(min-width: 992px) {
    .showcase {
        height: 100vh;
        padding: 42px 52px 42px 52px;
        margin-bottom: 0;
    }

    .showcase-login-button {
        font-size: 1.05rem;
        padding: 6px 27px;
        backdrop-filter: blur(20px);
    }

    .showcase-description {
        max-width: unset;
        align-self: center;
        transform: translateY(-8vh);
    }

    .showcase-logo {
        width: 75%;
        transform: translateX(2vw);
    }

    .showcase-description-text {
        gap: 22px;
        width: 70%;
        margin-top: 20px;
    }

    .showcase-description-text p {
        font-size: 15px;
    }

    .sc-wolf-img {
        width: unset;
        height: 85vh;
        top: 5vh;
        right: -32vw;
    }

    .sc-blue-img,
    .sc-orange-img {
        transform: rotate(0);
    }

    .sc-blue-img {
        top: 0;
        right: -28vw;
        width: 32vw;
    }

    .sc-orange-img {
        top: -10%;
        width: 28vw;
        right: -45vw;
    }

    .sign-up-wrapper {
        bottom: 10%;
        width: unset;
    }

    .sign-up-button {
        font-size: 22px;
        padding: 13px 27px;
        z-index: 4;
        backdrop-filter: blur(20px);
        background: rgba(251, 251, 251, 0.5);
        border-radius: 18px;

    }
}