.personalization {
  padding: 28px 20px;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-top-shape {
  position: absolute;
  width: 400px;
  top: 90px;
  right: -160px;
  height: auto;
  z-index: -1;
}

.secondary-top-shape {
  position: absolute;
  width: 320px;
  top: 10px;
  left: -60px;
  height: auto;
  z-index: -2;
}

.primary-bottom-shape {
  position: absolute;
  width: 250px;
  height: auto;
  bottom: -45px;
  right: -110px;
  rotate: 5deg;
  z-index: -1;
}

.secondary-bottom-shape {
  position: absolute;
  width: 250px;
  height: auto;
  bottom: -60px;
  left: -100px;
  rotate: 10deg;
  z-index: -1;
}

.personalization-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colors-selection-card,
.colors-descriptor-container,
.palete-explanation,
.theme-visualizer {
  width: 275px;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}

.colors-selection-card {
  height: 275px;
  padding: 22px
}

.colors-descriptor-container {
  margin-top: 16px;
  padding: 15px 14px;
  display: flex;
  justify-content: space-between;
}

.color-descriptor {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.color-title {
  font-size: 14px;
  color: #696969;
  font-weight: 600;
  transform: translateX(3px);
}

.color-definition {
  display: flex;
  gap: 4px;
  align-items: center;
}

.color-sample {
  width: 38px;
  height: 26px;
  border-radius: 12px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
}

.primary-definition .color-sample {
  background-color: var(--primary-color);
}

.secondary-definition .color-sample {
  background-color: var(--secondary-color);
}

.color-hex span {
  font-size: 12px;
  color: #808080;
}

.color-hex h1 {
  font-size: 12px;
}

.primary-definition h1 {
  color: var(--primary-color);
}

.secondary-definition h1 {
  color: var(--secondary-color);
}

.palete-explanation {
  margin-top: 28px;
  padding: 14px 15px;
  position: relative;
  z-index: 1;
}

.palete-explanation:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #FFF;
  border-radius: 8px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

.palete-explanation span {
  font-size: 13px;
  color: #696969;
  font-weight: 600;
  line-height: 140%;
}

.palete-explanation span strong {
  font-weight: 800;
}

.theme-visualizer,
.apply-theme,
.desktop-apply-theme {
  width: 100%;
  outline: none;
  border: none;
  margin-top: 20px;
  font-family: 'Inter';
  font-weight: 700;
  cursor: pointer;
  font-size: 13px;
}

.theme-visualizer {
  padding: 10px 0;
  border-radius: 10px;
  color: #898989;
  letter-spacing: 0.9px;
}

.apply-theme,
.desktop-apply-theme {
  max-width: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
  padding: 12px 0;
  background: linear-gradient(146deg, #CBCBCE 0%, #B0B0B3 100%);
  letter-spacing: 1px;
  color: #FFF;
}

.theme-demo-area,
.bottom-wolf,
.desktop-apply-theme {
  display: none;
}

@media(min-width: 400px) {
  .primary-top-shape {
    width: 440px;
    right: -120px;
  }

  .secondary-top-shape {
    width: 360px;
    top: 5px;
  }

  .primary-bottom-shape {
    width: 270px;
  }

  .secondary-bottom-shape {
    width: 320px;
    bottom: -80px;
    left: -150px;
  }

  .colors-selection-card,
  .colors-descriptor-container,
  .palete-explanation,
  .theme-visualizer {
    width: 310px;
  }

  .colors-selection-card {
    height: 310px;
  }

  .colors-descriptor-container {
    padding: 15px 18px;
  }
}

@media(min-width: 500px) {
  .primary-bottom-shape {
    width: 300px;
  }

  .secondary-bottom-shape {
    width: 370px;
    bottom: -90px;
  }
}

@media(min-width: 860px) {
  .primary-top-shape {
    width: 480px;
    right: -160px;
  }

  .secondary-top-shape {
    width: 410px;
  }

  .primary-bottom-shape {
    width: 310px;
  }

  .secondary-bottom-shape {
    width: 380px;
  }
}

@media(min-width: 1024px) {
  .personalization {
    flex-direction: row;
    align-items: unset;
    gap: 30px;
    padding: 68px 20px;
    min-height: 100vh;
  }

  .primary-top-shape {
    width: 500px;
    left: 90px;
  }

  .primary-bottom-shape {
    width: 380px;
    rotate: 15deg;
    bottom: -95px;
  }

  .secondary-bottom-shape {
    width: 410px;
    left: unset;
    right: 120px;
    bottom: -160px;
  }

  .personalization-area {
    width: 310px;
    justify-content: center;
  }

  .theme-visualizer {
    display: none;
  }

  .theme-demo-area {
    display: unset;
    position: relative;
  }

  .theme-demo-monitor {
    width: 490px;
  }

  .demo-sample-container {
    position: absolute;
    width: 450px;
    top: 25px;
    left: 25px;
    display: flex;
    gap: 15px;
  }

  .demo-sample-container h1 {
    color: var(--primary-color);
    font-size: 10px;
    margin-top: 10px;
  }

  .main-demo-area {
    width: 65%;
  }

  .demo-lesson-thumbnail {
    min-width: 100%;
    height: 140px;
    background: url(../../assets/personalization/demo/thumbnail.png) no-repeat center center/cover;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
  }

  .demo-lesson-thumbnail::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.3;
  }

  .demo-play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 90px;
    gap: 10px;
    position: absolute;
    left: 15px;
    top: 100px;
    border-radius: 6px;
    border: none;
    outline: none;
    backdrop-filter: blur(7.5px);
    background: linear-gradient(135deg, rgba(217, 217, 217, 0.50) 0%, rgba(var(--pred), var(--pgreen), var(--pblue), 0.50) 0.01%, rgba(var(--pred), var(--pgreen), var(--pblue), 0.35) 100%);
  }

  .demo-play-icon {
    transform: translateX(-25px);
    height: 12px;
  }

  .demo-lesson-cards {
    display: flex;
    margin-top: 10px;
    gap: 5px;
  }

  .demo-lesson-card {
    flex: 1;
    height: 42px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: url(../../assets/personalization/demo/lesson-card.png) no-repeat center center/cover;
  }

  .demo-lesson-card::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.3;
  }

  .demo-next-button {
    padding: 0 6px;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 4px;
  }

  .aside-demo-area {
    width: 30%;
    position: relative;
  }

  .demo-search-bar {
    width: 100%;
    height: 20px;
    border-radius: 4px;
    background-color: rgba(var(--pred), var(--pgreen), var(--pblue), 0.5);
    position: relative;
  }

  .demo-search-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    right: 10px;
  }

  .demo-categories {
    width: 100%;
    transform: translateY(-10px);
  }

  .demo-sample-wolf {
    position: absolute;
    width: 75%;
    top: 50px;
    left: 20px;
  }

  .bottom-wolf {
    display: unset;
    position: absolute;
    width: 270px;
    height: auto;
    right: 50px;
    bottom: 20px;
  }
}

@media(min-width: 1280px) {
  .personalization {
    gap: 60px;
  }

  .bottom-wolf {
    width: 290px;
    right: 40px;
  }

  .apply-theme {
    display: none;
  }

  .desktop-apply-theme {
    position: absolute;
    display: unset;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    font-size: 16px;
    z-index: 1;
    max-width: 210px;
  }
}

@media(min-width: 1366px) {
  .personalization {
    gap: 80px;
  }

  .primary-top-shape {
    width: 600px;
    left: 30px;
  }

  .secondary-top-shape {
    width: 440px;
    top: -40px;
  }

  .primary-bottom-shape {
    width: 400px;
  }
  
  .secondary-bottom-shape {
    width: 445px;
    right: 170px;
  }

  .colors-selection-card, 
  .colors-descriptor-container, 
  .palete-explanation, 
  .theme-visualizer {
    width: 322px;
  }

  .colors-selection-card {
    padding: 28px;
    height: 322px;
  }

  .colors-descriptor-container,
  .palete-explanation {
    padding: 18px 22px;
  }

  .demo-sample-container {
    width: 530px;
    gap: 20px;
    top: 35px;
    left: 35px;
  }

  .theme-demo-monitor {
    width: 600px;
  }

  .demo-lesson-thumbnail {
    height: 180px;
  }

  .demo-play-button {
    top: 140px;
  }

  .demo-sample-container h1 {
    font-size: 12px;
  }

  .demo-lesson-cards {
    gap: 6px;
  }

  .demo-lesson-card {
    height: 52px;
  }

  .demo-next-button {
    padding: 0 8px;
  }

  .aside-demo-area {
    width: 35%;
  }

  .demo-search-bar {
    height: 26px;
  }

  .demo-search-icon {
    width: 14px;
    height: 14px;
    top: 6px;
  }

  .demo-sample-wolf {
    top: 85px;
  }

  .bottom-wolf {
    width: 310px;
  }
}

@media(min-width: 1600px) {
  .personalization {
    align-items: center;
  }

  .theme-demo-area {
    max-height: 600px;
    transform: translateY(-50px);
  }

  .desktop-apply-theme {
    bottom: -100px;
  }
}