.color-selector {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
}

.color-selector svg {
  position: absolute;
  height: auto;
  cursor: pointer;
}

.out-circle svg {
  width: 58px;
  transition: all ease 0.2s;
}

.out-circle svg:hover {
  transform: scale(1.02);
  z-index: 2;
}

.inner-circle svg:hover {
  transform: scale(1.2);
  z-index: 2;
}

.out-circle {
  width: 100%;
  height: 100%;
  position: relative;
}

.out-sector-1 {
  top: 0%;
  left: 46%;
  rotate: 30deg;
}

.out-sector-2 {
  top: 9.5%;
  right: 11%;
  rotate: 60deg;
}

.out-sector-3 {
  bottom: 53%;
  right: 0.5%;
  rotate: 90deg;
}

.out-sector-4 {
  top: 46%;
  right: 0.1%;
  rotate: 120deg;
}

.out-sector-5 {
  bottom: 15.5%;
  right: 9.6%;
  rotate: 150deg;
}

.out-sector-6 {
  bottom: 5%;
  left: 48.5%;
  rotate: 180deg;
}

.out-sector-7 {
  bottom: 4.4%;
  right: 46.3%;
  rotate: 210deg;
}

.out-sector-8 {
  bottom: 14%;
  left: 11%;  
  rotate: 240deg;
}

.out-sector-9 {
  top: 48.5%;
  left: 1%;
  rotate: 270deg;
}

.out-sector-10 {
  bottom: 50.5%;
  left: 0.2%;
  rotate: 300deg;
}

.out-sector-11 {
  top: 11%;
  left: 9.8%;
  rotate: 329.5deg;
}

.out-sector-12 {
  top: 0.6%;
  right: 48.7%;
  rotate: 360deg;
}

.inner-circle {
  position: relative;
  border-radius: 50%;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-52%);
}

.inner-circle svg {
  width: 40px;
}

.inner-sector-1 {
  top: -1%;
  left: 46%;
  rotate: 30deg;
}

.inner-sector-2 {
  top: 9%;
  right: 9%;
  rotate: 60deg;
}

.inner-sector-3 {
  bottom: 51%;
  right: -2%;
  rotate: 90deg;
}

.inner-sector-4 {
  top: 46.5%;
  right: -2.5%;
  rotate: 120deg;
}

.inner-sector-5 {
  bottom: 13%;
  right: 7%;
  rotate: 150deg;
}

.inner-sector-6 {
  bottom: 2%;
  left: 49%;
  rotate: 180deg;
}

.inner-sector-7 {
  bottom: 1.6%;
  right: 46%;
  rotate: 210deg;
}

.inner-sector-8 {
  bottom: 12%;
  left: 9%;
  rotate: 240deg;
}

.inner-sector-9 {
  top: 49.5%;
  left: -1%;
  rotate: 270deg;
}

.inner-sector-10 {
  bottom: 49.8%;
  left: -2%;
  rotate: 300deg;
}

.inner-sector-11 {
  top: 10%;
  left: 8%;
  rotate: 330deg;
}

.inner-sector-12 {
  top: -0.5%;
  right: 49%;
  rotate: 360deg;
}

.active-sector {
  transform: scale(1.03);
  z-index: 1;
}

@media(min-width: 400px) {
  .out-circle svg {
    width: 68px;
  }

  .inner-circle {
    width: calc(100% - 78px);
    height: calc(100% - 78px);
    transform: translateX(-50%) translateY(-52%);
  }

  .inner-circle svg {
    width: 50px;
  }
}