@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/wild-wolf');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
}

:root {
  /* Primary Color Hex */
  --primary-color: #0093CE;
  /* Primary Color Rgb Values */
  --pred: 0;
  --pgreen: 147;
  --pblue: 206;

  /* Secondary Color Hex */
  --secondary-color: #F3701F;
  /* Primary Color Rgb Values */
  --sred: 243;
  --sgreen: 112;
  --sblue: 31;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-color {
  fill: var(--primary-color);
}

.secondary-color {
  fill: var(--secondary-color);
}