@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/wild-wolf');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
}

:root {
  /* Current Theme */
  --primary-color: #0093CE;
  --pred: 0;
  --pgreen: 147;
  --pblue: 206;

  --secondary-color: #F3701F;
  --sred: 243;
  --sgreen: 112;
  --sblue: 31;

  /* Test Theme */
  --test-primary-color: #0093CE;
  --test-pred: 0;
  --test-pgreen: 147;
  --test-pblue: 206;

  --test-secondary-color: #F3701F;
  --test-sred: 243;
  --test-sgreen: 112;
  --test-sblue: 31;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-color {
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

.secondary-color {
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
}

.test-primary-color {
  fill: var(--test-primary-color);
  stroke: var(--test-primary-color);
}

.test-secondary-color {
  fill: var(--test-secondary-color);
  stroke: var(--test-secondary-color);
}

.test-primary-color-no-fill {
  stroke: var(--test-primary-color);
}