.courses {
    background: url("../../assets/courses/background.svg") no-repeat 35% center/cover;
    height: calc(100% - 70px);
    max-height: calc(100% - 70px);;
}

.courses-blur {
    height: 100%;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.courses-wrapper {
    max-height: 100%;
    padding: 20px 25px 30px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
}

.course-item {
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    min-height: 130px;
    max-width: 300px;
    position: relative;
    aspect-ratio: 14/6.5;
    cursor: pointer;
    transition: all ease 0.2s;
}

.course-item:hover {
    transform: scale(1.1);
}

.course-item-blur {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--primary-color);
    opacity: 0.25;
}

.course-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


@media(min-width: 576px) {
    .courses-wrapper {
        gap: 24px;
    }

    .course-item {
        max-width: 360px;
        min-height: 170px;
    }
}

@media(min-width: 768px) {
    .courses-wrapper {
        gap: 32px;
    }

    .course-item {
        max-width: 400px;
        min-height: 190px;
    }
}

@media(min-width: 992px) {
    .courses {
        height: 100%;
        max-height: unset;
    }

    .courses-blur {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .courses-wrapper {
        width: 100%;
        max-width: 950px;
        height: 100%;
        max-height: 600px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        height: 100vh;
        overflow: auto;
    }

    .course-item {
        aspect-ratio: unset;
    }
}

@media(min-width: 1400px) {
    .courses-wrapper {
        max-width: 1100px;
        max-height: 700px;
    }
}

@media(min-width: 1600px) {
    .courses-wrapper {
        gap: 0;
        row-gap: 40px;
        column-gap: 60px;
        max-width: 1200px;
        max-height: 700px;
    }
}

@media(min-width: 1900px) {
    .courses-wrapper {
        gap: 0;
        row-gap: 40px;
        column-gap: 60px;
        max-width: 1300px;
        max-height: 800px;
    }
}