.faq-item-card {
    width: 95%;
    height: 250px;
    padding: 12px 10px;
    border-radius: 10px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 210px;
}

.faq-item-question {
    background-color: #0093CE;
    color: #FFF;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 12px;
    font-size: 12px;
}

.faq-item-card p {
    color: #696969;
    font-size: 11px;
    text-align: justify;
    width: 90%;
    line-height: 1.05;
    letter-spacing: 0.5px;
    font-weight: 500;
}

@media(min-width: 500px) {
    .faq-item-card {
        max-width: 230px;
    }

    .faq-item-question {
        font-size: 14px;
    }

    .faq-item-card p {
        font-size: 12px;
    }
}

@media(min-width: 650px) {
    .faq-item-card {
        max-width: 260px;
    }

    .faq-item-question {
        font-size: 16px;
    }

    .faq-item-card p {
        font-size: 14px;
    }
}

@media(min-width: 768px) {
    .faq-item-card {
        max-width: 280px;
        height: 260px;
    }

    .faq-item-card p {
        font-size: 14px;
        line-height: 1.1;
    }
}

@media(min-width: 992px) {
    .faq-item-card {
        display: inline-flex;
    }

    .faq-item-question {
        padding: 18px 20px;
        margin-bottom: 22px;
    }
}

@media(min-width: 1440px) {
    .faq-item-card p {
        font-size: 15px;
        line-height: 1.1;
    }
}

@media(min-width: 1900px) {
    .faq-item-card {
        max-width: 300px;
    }

    .faq-item-question {
        font-size: 18px;
    }

    .faq-item-card p {
        font-size: 17px;
    }
}